*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: hsl(185, 75%, 39%);
  font-size: 18px;
  font-family: 'Kumbh Sans';
  /*color: hsl(0, 11%, 12%);*/
}

.card{
  max-width: 400px;
  min-width: 350px;
  margin: 40px auto;
  padding: 80px;
  background: white;
  text-align: center;
  /*position: relative;*/
}

.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn,.btn-like {
  border: none;
  padding: 10px;
  border-radius: 10%;
  background: gray;
  color: black;
  margin: 10px;
}

.content {
  height: 30px;
  vertical-align: middle;
}

.btn-like {
  background: none;
  margin: 2px;
}

.btn-like > .fas {
  color:red;
}

.social-link {
  margin: 10px auto;
}

.social-link a {
  color: blue;
  text-decoration: none;
  width: 44px;
  height: 44px;
}

/* Tablet View */
@media only screen and (min-width: 600px) {
  .btn {
    background: red;
    color: #fff;
  }
}

/* Desktop View */
@media only screen and (min-width: 768px) {
  .social-link a {
    color: #000;
  }
}